{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "semi": "off",
    "space-infix-ops": "off",
    "indent": "off",
    "no-undef": "off",
    "comma-dangle": "off",
    "prefer-template": "off",
    "padded-blocks": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "arrow-parens": "off",
    "function-paren-newline": "off",
    "no-confusing-arrow": "off",
    "no-alert": "off",
    "arrow-body-style": "off",
    "keyword-spacing": "off",
    "no-plusplus": "off",
    "max-len": ["error", 150, {
      "ignoreUrls": true
    }],
    "no-param-reassign": "off",
    "linebreak-style": ["error", "windows"],
    "default-param-last": "off",
    "function-call-argument-newline": "off"
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "18.2.0"
    }
  }
}
